.container {
    text-align: center;
    position: relative;
    margin: 30px auto; 
    max-width: 90%; /* Изменено для лучшей адаптивности */
}

.image-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
        
}

.image-container img {
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#countdown {
    font-size: 36px; /* Изменено для лучшей адаптивности */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    background-color: rgba(18, 114, 233, 1);
    color: white;
    font-weight: bold;
    border: 4px blue;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px; /* Изменено для лучшей адаптивности */
    padding: 10px 20px; /* Изменено для лучшей адаптивности */
    font-family: 'Nunito', sans-serif;
    width: auto; /* Добавлено для того, чтобы кнопки были одинаковой ширины */
    transition: background-color 0.3s; /* Анимация при изменении цвета фона */
    transform: scale(1.3);
}

button:hover {
    background-color: rgba(18, 114, 233, 0.8); /* При наведении кнопки делаем фон немного темнее */
}

button:active {
    background-color: rgba(18, 114, 233, 0.6); /* При нажатии кнопки делаем фон еще темнее */
}


.button-container {
    text-align: center;
    position: relative;
    margin-top: 30px;
    max-width: 90%; /* Изменено для лучшей адаптивности */
    margin: 0 auto;
}

.second-button {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: rgba(18, 114, 233, 1);
    color: white;
    font-weight: bold;
    border: 4px blue;
    border-radius: 10px;
    font-size: 20px;
    padding: 7px 15px;
    width: auto;
    margin: 20px auto;
    font-family: 'Nunito', sans-serif; /* Добавляем шрифт */
    transform: scale(1.0);
}
body {
    background-color: rgba(6, 29, 58, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Добавляем свойство для расположения элементов по вертикали */
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
background-image: url('image/background.jpg');
    background-size: cover; /* чтобы изображение занимало всю доступную область */
    background-position: center;

}


h1, h2, p {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: white;
}

h1 {
    font-size: 36px; /* Изменено для лучшей адаптивности */
    margin-bottom: 5px;
}

h2 {
    font-size: 18px; /* Изменено для лучшей адаптивности */
    margin-top: 10px; /* Уменьшаем расстояние между h2 и предыдущим элементом на 10px */
    margin-bottom: 5px;
}

.h1-container {
    margin-bottom: 20px; /* Добавлено для лучшей адаптивности */
}

#intermediateImage {
    max-width: 50%; /* Устанавливаем максимальную ширину изображения в 100% от родительского элемента */
    max-height: 50%; /* Устанавливаем максимальную высоту изображения в 100% от родительского элемента */
}
